<div style="display: flex; margin-top: 8px; max-height: calc(100vh - 64px)">
  <div
    style="min-width: 500px; max-width: 500px; display: flex; flex-direction: column">
    <task-search [workbaskets]="workbaskets" (addTask)="handleAddTask()"
                 (searchTasks)="handleSearch($event)"></task-search>
    <div style="height: 100%; overflow-y: scroll">
      <task-list [tasks]="tasks$ | async" [selectedId]="(selectedTask$ | async )?.taskId"
                 (selectTask)="handleSelectChange($event)"></task-list>
    </div>
  </div>
  <span class="divider-vert"></span>
  <router-outlet>
  </router-outlet>
</div>
